In [49]:
from bs4 import BeautifulSoup
import requests
import pandas as pd


data = []
# Set Trustpilot page numbers to scrape here
from_page = 701
to_page = 800

for i in range(from_page, to_page + 1):
    response = requests.get(f"https://uk.trustpilot.com/review/octopus.energy?page={i}")
    web_page = response.text
    soup = BeautifulSoup(web_page, "html.parser")

    for e in soup.select('article'):
        data.append({
            'review_title':e.h2.text,
            'review_date_original': e.select_one('[data-service-review-date-of-experience-typography]').text.split(': ')[-1],
            'review_rating':e.select_one('[data-service-review-rating] img').get('alt'),
            'review_text': e.select_one('[data-service-review-text-typography]').text if e.select_one('[data-service-review-text-typography]') else None,
            'page_number':i
        })

pd.DataFrame(data)

,review_title,review_date_original,review_rating,review_text,page_number
0,Can't complain!,08 March 2024,Rated 5 out of 5 stars,I've been with Octopus for the past 4 months s...,664
1,Easy to understand,08 March 2024,Rated 5 out of 5 stars,Easy to understand,664
2,Katie was very helpful.,08 March 2024,Rated 5 out of 5 stars,Katie was very helpful and promised much - but...,664
3,Feedback,07 March 2024,Rated 5 out of 5 stars,I wish to thank Ash for all his help and advic...,664
4,Astana was incredibly helpful …,07 March 2024,Rated 5 out of 5 stars,Astana was incredibly helpful and a pleasure t...,664
...,...,...,...,...,...
735,Debbie was helpful and professional.,06 March 2024,Rated 5 out of 5 stars,None,700
736,5* service,06 March 2024,Rated 5 out of 5 stars,When i phoned I was on hold and when I was con...,700
737,Happy with the prompt reply from JoeyF,06 March 2024,Rated 4 out of 5 stars,None,700
738,Good.price,06 March 2024,Rated 4 out of 5 stars,None,700
739,Ambar at Octopus was amazing,06 March 2024,Rated 5 out of 5 stars,Ambar at Octopus was amazing. If it wasn't for...,700

In [50]:
data5 = pd.DataFrame(data)
data5.to_csv("reviews_p_701_800")